{{- if .Params.showBreadcrumbs -}}
<div class="breadcrumbs">
    <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Anasayfa" }}</a>
    {{- $url := replace .Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $url_segments := split $url "/" }}
    {{- $path := "" }}
    
    {{- range $index, $segment := $url_segments }}
        {{- $path = printf "%s/%s" $path $segment }}
        {{- $page := site.GetPage $path -}}
        {{- if $page }}
            {{- if gt $index 0 }}&nbsp;»&nbsp;{{ end }}
            <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
        {{- end }}
    {{- end }}
</div>
{{- end -}}
