{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}

    <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Anasayfa" }}</a>
    {{- $scratch := newScratch }}
    {{- $path := "" }}
    {{- range $index, $element := split $lang_url "/" }}

    {{- $path = printf "%s/%s" $path $element }}
    {{- $bc_pg := site.GetPage $path -}}

    {{- if $bc_pg }}
        {{- if (and ($bc_pg) (gt (len . ) 0))}}
        {{- print "&nbsp;»&nbsp;" | safeHTML -}}
        {{ if eq $bc_pg.Name "Posts" }}
          <a href="{{ $bc_pg.Permalink }}">{{ i18n "posts" | default "Yazılar" }}</a>
        {{ else }}
          <a href="{{ $bc_pg.Permalink }}">{{ $bc_pg.Name }}</a>
        {{ end }}
        {{- end }}
    {{- end }}

    {{- end -}}
</div>
{{- end -}}